In [2]:
print("Hello World!")

Hello World!

<p style="color:pink; font-weight:bold; font-style:italic; font-size:30px">üçìArithmetic and Variables</p>

<img src="images\01.jpg" alt="My Image" width="400" height="300">

In [3]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [16]:
# Variables

name = "AmirReza"
age = 15
tel = 9194324531
print(name)
print(name + ' Mashayekhi' )
print(f"Name:{name} Age:{age}")
print("Name:",name, "Age:",age)

AmirReza
AmirReza Mashayekhi
Name:AmirReza Age:15
Name: AmirReza Age: 15

In [17]:
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [18]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0

In [21]:
# NameError
print(hours_per_day)

24

In [29]:
# Load the data from the titanic competition
import pandas as pd
titanic_data = pd.read_csv("datasets/titanic/train.csv")

# Show the first five rows of the data
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
# Number of total passengers
total = len(titanic_data)
print(total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print(survived)

# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print(minors)

891
342
113

In [31]:
# TODO: Fill in the value of the survived_fraction variable
survived_fraction = survived/total

# Print the value of the variable
print(survived_fraction)

# TODO: Fill in the value of the minors_fraction variable
minors_fraction = minors/total 

# Print the value of the variable
print(minors_fraction)

0.3838383838383838
0.12682379349046016

<p style="color:pink; font-weight:bold; font-style:italic; font-size:30px">üçìFunction</p>

In [33]:
# Define the function
def add_three(input_var):
    output_var = input_var + 3
    return output_var

<img src="images\02.png" alt="My Image" width="900" height="200">

In [34]:
# Run the function with 10 as input
new_number = add_three(10)

# Check that the value is 13, as expected
print(new_number)

13

<img src="images\03.png" alt="My Image" >m

In [38]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

In [39]:
pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [40]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

In [41]:
# Variable "scope"
print(pay_aftertax)

NameError: name 'pay_aftertax' is not defined

You will get the same error if you try to print pay_pretax or num_hours. For this reason, if you need any information from a function, you need to make sure that appears in the return statement at the end of the function.

We refer to a variable's scope as the part of the code where it is accessible. Variables defined inside a function (like pay_aftertax) have a local scope of that function only. However, as you've seen, variables defined outside all functions (like pay_parttime) have a global scope and can be accessed anywhere.

In [42]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [43]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

748.8000000000001

In [44]:
same_pay_fulltime = get_pay_with_more_inputs(40, 15, .12)
print(same_pay_fulltime)

528.0

In [45]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")
    
# Call the function
print_hello()

Hello, you!
Good morning!